/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 BTNS
6.0 FOOTER
7.0 Main Header & nav
8.0 INICIO
9.0 DESTINOS
10.0 SLIDERS
11.0 FORMULARIOS
12.0 ANIMACIONES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 16px;
    line-height: 20px;
    overflow-x: hidden;
    @media (min-width: $lg) {
        font-size: 16px;
        line-height: 24px;
    }
}

.main-wrapper {
   position: relative; 
}

.inner-wrapper {
    position: relative;
}

.section-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

.only-mobile {
    display: block;
    @media (min-width: $md) {
        display: none;
    }
}

.only-pc {
    display: none;
    @media (min-width: $md) {
        display: block;
    }
}

.texto-azul-pc {
    @media (min-width: $lg) {
        color: $color-azul;
    }
}

/*--------------------------------------------------------------
5.0 BTNS
--------------------------------------------------------------*/

@import 'sass/btns';


/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/

@import 'sass/main-footer';

/*--------------------------------------------------------------
7.0 Main Header & nav
--------------------------------------------------------------*/

@import 'sass/main-header';

/*--------------------------------------------------------------
8.0 INICIOS
--------------------------------------------------------------*/

@import 'sass/inicio';

/*--------------------------------------------------------------
9.0 DESTINOS
--------------------------------------------------------------*/

@import 'sass/destinos';

/*--------------------------------------------------------------
10.0 SLIDERS
--------------------------------------------------------------*/

@import 'sass/sliders';

/*--------------------------------------------------------------
11.0 FORMULARIOS
--------------------------------------------------------------*/

@import 'sass/formulario';

/*--------------------------------------------------------------
12.0 ANIMACIONES
--------------------------------------------------------------*/

@import 'sass/animate';
@import 'sass/animaciones';