/*HELVETICA*/

@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('../fonts/helvetica/helveticaneueltstd-roman.eot');
    src: url('../fonts/helvetica/helveticaneueltstd-roman.woff') format('woff'),
        url('../fonts/helvetica/helveticaneueltstd-roman.svg') format('svg'),
        url('../fonts/helvetica/helveticaneueltstd-roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/helveticaneueltstd-ex.eot');
    src: url('../fonts/helvetica/helveticaneueltstd-ex.woff') format('woff'),
        url('../fonts/helvetica/helveticaneueltstd-ex.svg') format('svg'),
        url('../fonts/helvetica/helveticaneueltstd-ex.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-it.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-it.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-it.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/helveticaneueltstd-bd.eot');
    src: url('../fonts/helvetica/helveticaneueltstd-bd.woff') format('woff'),
        url('../fonts/helvetica/helveticaneueltstd-bd.svg') format('svg'),
        url('../fonts/helvetica/helveticaneueltstd-bd.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/helveticaneueltstd-md.eot');
    src: url('../fonts/helvetica/helveticaneueltstd-md.woff') format('woff'),
        url('../fonts/helvetica/helveticaneueltstd-md.svg') format('svg'),
        url('../fonts/helvetica/helveticaneueltstd-md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/helveticaneueltstd-lt.eot');
    src: url('../fonts/helvetica/helveticaneueltstd-lt.woff') format('woff'),
        url('../fonts/helvetica/helveticaneueltstd-lt.svg') format('svg'),
        url('../fonts/helvetica/helveticaneueltstd-lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-ultlt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica_neue/helveticaneueltstd-th.eot');
    src: url('../fonts/helvetica_neue/helveticaneueltstd-th.woff') format('woff'),
        url('../fonts/helvetica_neue/helveticaneueltstd-th.svg') format('svg'),
        url('../fonts/helvetica_neue/helveticaneueltstd-th.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}*/

/*BENTON*/
@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/benton-sans/bentonsans-blacksc.eot');
    src: url('../fonts/benton-sans/bentonsans-blacksc.woff') format('woff'),
        url('../fonts/benton-sans/bentonsans-blacksc.svg') format('svg'),
        url('../fonts/benton-sans/bentonsans-blacksc.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/*DIN Next LT Pro*/
@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/dinn-next-lt-pro/dinnnextltpro-mediumcond.eot');
    src: url('../fonts/dinn-next-lt-pro/dinnnextltpro-mediumcond.woff') format('woff'),
        url('../fonts/dinn-next-lt-pro/dinnnextltpro-mediumcond.svg') format('svg'),
        url('../fonts/dinn-next-lt-pro/dinnnextltpro-mediumcond.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/dinn-next-lt-pro/dinnextltpro-noldcondensed.eot');
    src: url('../fonts/dinn-next-lt-pro/dinnextltpro-noldcondensed.woff') format('woff'),
        url('../fonts/dinn-next-lt-pro/dinnextltpro-noldcondensed.svg') format('svg'),
        url('../fonts/dinn-next-lt-pro/dinnextltpro-noldcondensed.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
